
<h2>Articles</h2>

<%= link_to 'New article', new_article_path %>

<ul>
<% @articles.each do |a| %>
  <li>
    <p>
      <%= link_to a.title, article_path(a) %>(<%= a.user.email %>)
    </p>
  </li>
<% end %>
</ul>
