<h2><%= @author.name %> - Books</h2>

<%= link_to 'Add book', new_author_book_path(@author) %>

<% if @books.any? %>
  <ul>
  <% @books.each do |b| %>
    <li>
      <%= link_to b.title, book_path(b) %> |
      <%= link_to 'Destroy', [b.author, b],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>No books</p>
<% end %>
