<h2>User Account</h2>


<ul>
  <li>Name: <%= current_user.name %></li>
  <li>Gold: <%= current_user.gold %></li>
  <li>Silver: <%= current_user.silver %></li>
  <li>Wood: <%= current_user.wood %></li>
</ul>
